* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #0a0a0a;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; /* Mencegah scroll di dalam kontainer */
    height: 100vh;
}

img {
    max-width: 100%; /* Pastikan gambar responsif */
    height: auto; /* Pertahankan rasio aspek gambar */
    object-fit: contain;
}
